# Text backup files
*.bak
# Database
*.sqlite3
# Ignore data.json
data.json

# .env file
*.env

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Django specific
.python-version
.mypy_cache/
.tox/
.nox/
.coverage
*.log
*.pot
*.py[cod]
*.pyo
.coverage
nosetests.xml
coverage.xml
*.cover
*.hypothesis/
.tox/
.nox/
.coverage
.pytest_cache/

