{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipes/css/list.css' %}">
    <link rel="shortcut icon" href="{% static 'recipes/images/favicon.ico' %}">
    <title>Recipe List</title>
</head>

<body>
    <div class="Title">
        Recipes List
    </div>
    <nav class="navbar">
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-links">
            <li>
                <h1>Recipe App</h1>
            </li>
            <li><a href="{% url 'recipes:home' %}">Home</a></li>
            <li><a href="{% url 'recipes:about_me' %}">About Me</a></li>
            <li><a href="{% url 'recipes:recipes' %}">Recipes</a></li>
            <li><a href="{% url 'users:profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <main class="main-box">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if 'recipe' in message.tags %}
            <li class="message {{ message.tags }}">{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% if search_performed %}
        <p> Search for an ingredient or recipe name:</p>
        <form action="{% url 'recipes:recipes' %}" method="POST">
            {%csrf_token %}
            {{form}}
            <!-- {{ form.recipe_name }}
            {{ form.chart_type }} -->
            <button type="submit">Search</button>
            <a href="{% url 'recipes:recipes' %}"><button type="button">Show all Recipes</button></a>
        </form>
        {% else %}
        <p> Search for an ingredient or recipe name:</p>
        <form action="{% url 'recipes:recipes' %}" method="POST">
            {%csrf_token %}
            {{form}}
            <button type="submit">Search</button>
            {% endif %}
        </form>

        {% if no_results %}
        <p>No recipes found matching your criteria.</p>
        {% else %}

        {% if recipes_html %}
        <h2>Recipe Details</h2>
        <div>
            {{recipes_html|safe}}
        </div>
        {% endif %}
        <ul class="links">
            {% for recipe in recipes %}
            <li>
                <h2><a href="{{recipe.get_absolute_url}}">{{recipe.name}}</a></h2>
                <img src="{{recipe.pic.url}}" width="200" height="200" />
            </li>
            {% endfor %}
            <br>
            {% if chart %}
            <img src="data:image/png;base64, {{ chart|safe }}">
            {% endif %}

            <!-- <img src="data:image/png;base64, {{chart|safe}}"> -->

        </ul>

        {% endif %}
    </main>
    <script>
        // Hide the message after 5 seconds
        window.addEventListener('DOMContentLoaded', (event) => {
            setTimeout(() => {
                const messages = document.querySelectorAll('.message');
                messages.forEach(message => {
                    message.style.display = 'none';
                });
            }, 5000);
        });
        const hamburgerMenu = document.querySelector('.hamburger-menu');
        const navLinks = document.querySelector('.nav-links');
        hamburgerMenu.addEventListener('click', function () {
            navLinks.classList.toggle('active');
        });
    </script>
</body>

</html>