{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipes/css/home.css' %}">
    <link rel="shortcut icon" href="{% static 'recipes/images/favicon.ico' %}">
    <title>Recipe's Home</title>


</head>

<body>
    <div class="welcome">
        Welcome to My Recipe App
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            <li>
                <h1>Recipe App</h1>
            </li>
            <li><a href="{% url 'recipes:home' %}">Home</a></li>
            <li><a href="{% url 'recipes:about_me' %}">About Me</a></li>
            <li><a href="{% url 'recipes:recipes' %}">Recipes</a></li>
            <li><a href="{% url 'users:profile' %}">Profile</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'users:signup' %}">Sign Up</a></li>


        </ul>
    </nav>
    <main class="image-container">
        <div class="text-container">
            <h2 class="text">
                <a href="{% url 'recipes:recipes' %}">
                    Check Out the Recipes
                    <span class="arrow">&rarr;</span>
                </a>
            </h2>
            <h2 class="text">
                <a id="open-modal" class="link">
                    Create New Recipe
                    <span class="arrow">&rarr;</span>
                </a>
                <p class="warning">(You must be logged in!)</p>
            </h2>
        </div>
        <dialog class="modal-content">

            <h2>Create Recipe</h2>
            <form action="{% url 'recipes:create_recipe' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="cooking_time">Cooking Time:</label>
                    <input type="number" id="cooking_time" name="cooking_time" placeholder="in min" required>
                </div>

                <div class="form-group">
                    <label for="ingredients">
                        Ingredients:
                    </label>
                    <input type="text" id="ingredients" name="ingredients"
                        placeholder="Each ingredient separated by a comma" required>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea type="text" id="description" name="description" rows="5"
                        placeholder="Description required" required></textarea>
                </div>

                <div class="form-group">
                    <label for="pic">Picture:</label>
                    <input type="file" id="pic" name="pic" accept="image/*">
                </div>

                <div class="form-buttons">
                    <button type="submit" class="button">Submit</button>
                    <button type="button" id="close-modal-btn" class="button-secondary">Close</button>
                </div>
            </form>

        </dialog>
        <img src="{% static 'recipes/images/home-background.jpg' %}" alt="home">
    </main>
    <script>
        const openLink = document.querySelector("#open-modal")
        const closeButton = document.querySelector("#close-modal-btn")
        const modal = document.querySelector(".modal-content")

        openLink.addEventListener("click", () => {
            modal.showModal()
        })

        closeButton.addEventListener("click", () => {
            modal.close()
        })
    </script>


</body>

</html>