{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'auth/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/login.css' %}">

    <title>Login Page</title>
</head>

<body>
    <main class="container">
        <div class="box">
            <h1>Login</h1>
            {% comment %} Check for the error message {% endcomment %}
            {% if error_message %}
            <div class="error-message">{{ error_message }}</div>
            {% endif %}
            {% comment %} print form {% endcomment %}
            <form action="" method="POST">
                {% comment %} add django security token {% endcomment %}
                {% csrf_token %}
                {% comment %} print form received from view {% endcomment %}
                {{form}}
                {% comment %} add button {% endcomment %}
                <button type="submit">Login</button>
                <a href="{% url 'users:signup' %}" class="button">Not signed up yet?</a>
            </form>
        </div>
        <img src="{% static 'auth/images/home-background1.jpg' %}" alt="home">


    </main>


</body>

</html>