{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'auth/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/success.css' %}">
    <title>Logged Out</title>
</head>

<body>
    <main class="container">
        <div class="box">
            <h1>You have successfully logged out!</h1>
            <a class="button" href="{% url 'login'%}">Login</a>
            <a class="button" href="{% url 'recipes:home' %}">Homepage</a>
        </div>
        <img src="{% static 'auth/images/home-background1.jpg' %}" alt="home">
    </main>

</body>

</html>