{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipes/css/details.css' %}">

    <title>Recipes Detail</title>
</head>

<body>
    <div class="Title">
        Recipe Details
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            <li>
                <h1>Recipe App</h1>
            </li>
            <li><a href="{% url 'recipes:home' %}">Home</a></li>
            <li><a href="{% url 'recipes:recipes' %}">Recipes</a></li>
            <li><a href="{% url 'users:profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <main class="main-box">
        <div class="name-pic">
            <h2>{{object.name}}</h2>
            <img src="{{object.pic.url}}" />
        </div>
        <div class="details">
            <p><b>Author: </b>{{object.author}}</p>
            <p><b>Cooking Time: </b>{{object.cooking_time}}</p>
            <p><b>Ingredients: </b>{{object.ingredients}}</p>
            <p><b>Difficulty: </b>{{object.difficulty}}</p>
            <p><b>Description: </b>{{object.description}}</p>
            <p><b>Creation Date: </b>{{object.creation_date}}</p>
            {% if user.username == object.author.username %}
            <div class="button-container">
                <button id="open-modal" class="button">Update</button>
                <button id="open-delete-modal" class="button">Delete</button>
            </div>
            {% endif %}
            <!--Delete Modal Content-->
            <dialog id="delete-modal" class="delete-modal-content">
                <h2>Delete This Recipe</h2>
                <form action="{% url 'recipes:delete_recipe' object.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="button-container">
                        <button type="submit" class="button delete-button">Delete</button>
                        <button type="button" id="close-delete-modal" class="button button-secondary">Cancel</button>
                    </div>
                </form>
            </dialog>
        </div>
    </main>
    <script>
        const openDeleteModalButton = document.querySelector("#open-delete-modal")
        const closeDeleteModalButton = document.querySelector("#close-delete-modal")
        const deleteModal = document.querySelector("#delete-modal")

        openDeleteModalButton.addEventListener("click", () => {
            deleteModal.showModal();
        });
        closeDeleteModalButton.addEventListener("click", () => {
            deleteModal.close()
        });  
    </script>

</body>

</html>