{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipes/css/details.css' %}">

    <title>Recipes Detail</title>
</head>

<body>
    <div class="Title">
        Recipe Details
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            <li>
                <h1>Recipe App</h1>
            </li>
            <li><a href="{% url 'recipes:home' %}">Home</a></li>
            <li><a href="{% url 'recipes:recipes' %}">Recipes</a></li>
            <li><a href="{% url 'users:profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <main class="main-box">
        <div class="name-pic">
            <h2>{{object.name}}</h2>
            <img src="{{object.pic.url}}" />
        </div>
        <div class="details">
            <p><b>Author: </b>{{object.author}}</p>
            <p><b>Cooking Time: </b>{{object.cooking_time}}</p>
            <p><b>Ingredients: </b>{{object.ingredients}}</p>
            <p><b>Difficulty: </b>{{object.difficulty}}</p>
            <p><b>Description: </b>{{object.description}}</p>
            <p><b>Creation Date: </b>{{object.creation_date}}</p>
        </div>
    </main>

</body>

</html>