{% load static %} {% comment %} to add image, to generate absolute URL {% endcomment %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipes/css/home.css' %}">
    <title>Recipe's Home</title>
</head>

<body>
    <div class="welcome">
        Welcome to My Recipe App
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            <li>
                <h1>Recipe App</h1>
            </li>
            <li><a href="{% url 'recipes:home' %}">Home</a></li>
            <li><a href="{% url 'recipes:recipes' %}">Recipes</a></li>
            <li><a href="{% url 'users:profile' %}">Profile</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'users:signup' %}">Sign Up</a></li>

        </ul>
    </nav>
    <main class="image-container">
        <h2 class="text">
            <a href="{% url 'recipes:recipes' %}">
                Check Out the Recipes
                <span class="arrow">&rarr;</span>
            </a>
        </h2>
        <img src="{% static 'recipes/images/home-background.jpg' %}" alt="home">
    </main>


</body>

</html>